<div class='container'>
    <button type="button" class="btn btn-primary btn-circle"  data-toggle="tooltip" data-placement="top" title="Add List" (click)="addList()"><i class="fa fa-list">+</i>
    </button>
</div>
<div cdkDropListGroup *ngIf="cardList.length > 0">
  <div class="example-container" *ngFor="let group of cardList; let index = index">
    <a class='pull-right'>
      <span class="glyphicon glyphicon-pencil pencil-icon" tabindex="0" data-toggle="tooltip" title="Edit List" (click)="update(index,'list')" ></span>
      <span class="glyphicon glyphicon-remove" tabindex="0" data-toggle="tooltip" title="Remove List"  (click)="deleteList('',index);"></span>
    </a>
    <input [readonly]="group.status" [ngClass]="{'isActive': !group.status}" tabindex="-1" class="listInput" value="{{group.name}}" #list  (blur)="onBlur('',index,list.value,'list')" />
    <cdk-drop-list class="example-list" [cdkDropListData]="group.cards" (cdkDropListDropped)="dropItem($event)">
      <div class="example-box" *ngFor="let item of group.cards; let i = index" cdkDrag [cdkDragData]="item">
      <input [readonly]="item.status" [ngClass]="{'isActive': !item.status}" value="{{item.name}}" #card (blur)="onBlur(i,index,card.value,'card')" />
      <a class='pull-right'>
        <span class="glyphicon glyphicon-pencil pencil-icon" tabindex="0" data-toggle="tooltip" title="Edit Card" (click)="update(index,'card',i)"></span>
        <span class="glyphicon glyphicon-remove"  tabindex="0" data-toggle="tooltip" title="Remove Card" (click)="deleteList(i,index);"></span>
      </a>
      </div>
    </cdk-drop-list>
    <a class="addCard"   tabindex="0" data-toggle="tooltip" title="Add List" (click)="addCard(index)">Add Card</a>
  </div></div>